[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico-extras"]
	path = pico-extras
	url = https://github.com/raspberrypi/pico-extras.git
[submodule "bluepad32"]
	path = bluepad32
	url = git@github.com:diegoparrilla/bluepad32.git
